/* Resetowanie domyślnych stylów dla elementów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stylowanie body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Stylowanie nagłówka */
.headerMenu {
    background-color: darkslategray;
    color: #fff;
    text-align: left;
    font-size: 1.7em;
    padding: 15px;
}


